.bg-black {
    background-color: coral;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .nav-item {
    background-color: rgb(178, 195, 204);
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: rgb(231, 84, 40);
    color: #ffffff;
  }
  .nav-link{
      color: white;
  }
  