<div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d1d7e0; color: #803bb1;">
    <a href="#" class="navbar-brand">Tutorials!</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link"></a>
      </li>
      <div class="add">
      <li class="nav-item">
        <a routerLink="add" class="nav-link">New Tutorial</a>
      </li>
      </div>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

<!--<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d1d7e0; color: #803bb1;">
    <a class="navbar-brand" style="color: black;"
       <a href="#" class="navbar-brand">Tutorials!</a></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" style="color: black;" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="color: black;">
            <li class="nav-item active">
                <a class="nav-link" style="color: black;" href="/"><i class="fa fa-home" style="font-size:24px"
                        aria-hidden="true"></i> Home
                    <span class="sr-only">(current)</span></a>
            </li>
        </ul>-->