<!--<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <a class="navbar-brand"><b>Tutorials</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/user" routerLinkActive='active'>User<span
          class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="add" routerLinkActive='active'>New Tutorial</a>
    </div>
  </div>
</nav>-->



<div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(231, 84, 40);  color: #fffff;">
    <a href="#" class="navbar-brand">Home</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
      <div class="add">
      <li class="nav-item">
        <a routerLink="add" class="nav-link">New Tutorial</a>
         <a class="nav-item nav-link" routerLink="about/" routerLinkActive='active'>About</a>
      </li>
      </div>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>