@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.click{
    font-family: 'Syne Tactile', cursive;
}
.tut{
    font-family: 'Syne Tactile', cursive;
    font-size: larger;
}
.list{
    font-family: 'Courgette', cursive;
}

.jumbotron {
    box-shadow: 4px 8px 16px 5px rgb(255, 127, 80);
    color: coral;
  }
  .jumbotron:hover {
    box-shadow: 4px 8px 16px 5px rgb(100, 149, 237);
    color: cornflowerblue;
  }
  .card:hover {
    box-shadow: 4px 8px 16px 5px rgb(100, 149, 237);
  }
  